
@font-face {
  font-family: 'ChallistaScript';
  src: url('ChallistaScript.eot?#iefix') format('embedded-opentype'),  url('ChallistaScript.otf')  format('opentype'),
	     url('ChallistaScript.woff') format('woff'), url('ChallistaScript.ttf')  format('truetype'), url('ChallistaScript.svg#ChallistaScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
